<?xml version="1.0" encoding="UTF-8"?>
<!--
    작성자 : 고의동
    작성내용 : XML 태그 내용 정의
-->

<!-- scan="true"이면 30초 마다 파일 변경을 확인합니다 -->
<configuration scan="true" scanPeriod="30 seconds">

    <include resource="config/logback/console-appender.xml" />

    <!-- 로그파일패스 및 이름 설정 -->
    <property name="LOGS_PATH" value="./logs"/>
    <property name="LOGS_FILENAME" value="${LOGS_PATH}/Parking-API-Temp.log"/>
    <property name="LOGS_ROLLFILENAMEPATTERN" value="${LOGS_PATH}/Parking-API-Test-%d{yyyy-MM-dd}.%i.log"/>

    <include resource="config/logback/file-rolling.xml" />

    <include resource="com/google/cloud/spring/logging/logback-appender.xml" />

    <!--
    - TRACE : 추적 레벨은 Debug보다 좀더 상세한 정보를 나타냅니다.
    - DEBUG : 프로그램을 디버깅하기 위한 정보를 표시합니다. (운영서버에서는 표시하지 않도록 설정함)
    - INFO  : 상태변경과 같은 정보성 로그를 표시합니다.
    - WARN  : 처리 가능한 문제, 향후 시스템 에러의 원인이 될 수 있는 경고성 메시지를 나타냄
    - ERROR : 요청을 처리하는 중 오류가 발생한 경우 표시합니다
    - FATAL : 최상의 에러로 시스템에서 처리되는 내용.
    -->
    <!-- 로깅 레벨 설정 START
    Logger 태그 통해서 주체를 설정하지 않은 경우에 대해서 정의
    각 주체별로 로깅 기능 설정등이 필요할 경우 작성 필요
    -->
    <root level="INFO">
        <appender-ref ref="APTIROLLING"/>
        <appender-ref ref="STACKDRIVER"/>
    </root>
    <!-- 로깅 레벨 설정 END -->
</configuration>